NODE_ENV=production
PORT=3000
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=asistente_procedimientos
PGUSER=asistente_user
PGPASSWORD=CAMBIAR_CLAVE
SESSION_SECRET=CAMBIAR_POR_UN_VALOR_ALEATORIO_LARGO
MFA_ENCRYPTION_KEY=CAMBIAR_POR_UNA_CLAVE_ALEATORIA_DE_32_O_MAS_CARACTERES
